/* 1025px */
@media (max-width: 1025px) {}

/* 975px */
@media (max-width: 975px) {
  .header .container .menu {
    display: none;
  }

  .header .container .burger {
    display: block;
  }

  .hero .right {
    display: none;
  }

  .hero .left {
    max-width: 100%;
    background:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/hero-img.png) no-repeat center / cover;
    /* position: relative; */
  }

  /* .hero .left::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
  } */

  .hero .left .uptitle,
  .hero .left .title,
  .hero .left .subtitle {
    color: white;
    /* position: relative; */
    /* z-index: 5; */
  }

  .hero .left .btn {
    background: #000;
    color: white;
  }

  .firm .container {
    gap: 80px;
  }

}

/* 770px */
@media (max-width: 770px) {
  .hero .left {
    padding: 45px;
  }

  .hero .left .uptitle {
    font-size: 13px;
  }

  .hero .left .title {
    font-size: 45px;
    margin: 15px 0;
  }

  .hero .left .subtitle {
    font-size: 15px;
  }

  .firm {
    padding: 50px 0;
  }

  .firm .container {
    gap: 40px;
  }

  .swirling,
  .staircase,
  .house {
    padding: 150px 0;
  }

  .project .container .title {
    font-size: 30px;
  }

  .project .container .text {
    font-size: 18px;
  }

  .project .container .wrapper .card {
    width: 280px;
    height: 370px;
  }
}

/* 525px */
@media (max-width: 525px) {
  .house {
    padding: 100px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/house-bg.png) no-repeat center / cover;
  }

  .staircase {
    padding: 100px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/staircase-bg.png) no-repeat center / cover;
  }

  .swirling {
    padding: 100px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/swirling-bg.png) no-repeat center / cover;
  }

  .swirling .container .text h4,
  .swirling .container .text p,
  .staircase .container .text h4,
  .staircase .container .text p,
  .house .container .text h4,
  .house .container .text p {
    color: white;
  }

  .project,
  .firm {
    padding: 30px 0;
  }

  .project .container {
    text-align: center;
  }

  .project .container .wrapper .card {
    width: 250px;
    height: 330px;
  }

  .project .container .wrapper .card .effect {
    padding: 20px;
  }

  .project .container .wrapper .card .effect p {
    font-size: 12px;
  }


  .project .container .wrapper .card .effect h3 {
    font-size: 16px;
  }

}

/* 430px */
@media (max-width: 430px) {
  .hero .left {
    padding: 40px 15px;
  }
}

/* 375px */
@media (max-width: 375px) {
  .hero .left .title {
    font-size: 40px;
  }
}